@using Microsoft.Extensions.Hosting;
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
    var urlBase = Url.Content("~/").TrimEnd('/');
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" value="telephone=no">
    <link rel="shortcut icon" href="~/icon/favicon.ico">
    <link rel="apple-touch-icon" href="~/icon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="~/icon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/icon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/icon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/icon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/icon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/icon/apple-touch-icon-152x152.png">
    <title>Bestinver</title>

    @RenderSection("HMetaTags", false)

    <script type="text/javascript">
        var validatedomain = true;
        var sitePreffix = '@urlBase';
        var urlSignatureIssuerApi = '@urlBase@AppSettings.Value.SignatureIssuerApi';
    </script>

    <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900" rel="stylesheet" type="text/css">
    <link href="~/css/grid.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/easy-autocomplete.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/easy-autocomplete.themes.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/scancontrol.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/custom.bestinver.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/select2.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/tl-main.min.css" rel="stylesheet" asp-append-version="true" />


    @RenderSection("styles", false)

    @if (hostingEnv.IsDevelopment())
    {
        <script src="~/js/bundles/bundle-jquery.js" crossorigin="anonymous" asp-append-version="true"></script>
        <script src="~/js/bundles/bundle-external-libraries.js" crossorigin="anonymous" asp-append-version="true"></script>
        <script src="~/js/bundles/bundle-knockoutjs.js" crossorigin="anonymous" asp-append-version="true"></script>
        <script src="~/js/bundles/bundle-redbility.js" crossorigin="anonymous" asp-append-version="true"></script>
        <script src="~/js/bundles/bundle-bestinver.js" crossorigin="anonymous" asp-append-version="true"></script>

        <script type="text/javascript">
            validatedomain = false;
        </script>
    }
    else
    {
        <script src="~/js/bundles/bundle-jquery.min.js" crossorigin="anonymous" asp-append-version="true"></script>
        <script src="~/js/bundles/bundle-external-libraries.min.js" crossorigin="anonymous" asp-append-version="true"></script>
        <script src="~/js/bundles/bundle-knockoutjs.min.js" crossorigin="anonymous" asp-append-version="true"></script>
        <script src="~/js/bundles/bundle-redbility.min.js" crossorigin="anonymous" asp-append-version="true"></script>
        <script src="~/js/bundles/bundle-bestinver.min.js" crossorigin="anonymous" asp-append-version="true"></script>
    }

    <script src="https://maps.googleapis.com/maps/api/js?key=@AppSettings.Value.GoogleMapsApiKey&libraries=places&callback=initAutocomplete&language=es-ES" async defer></script>
    <script src="https://cdn.logrocket.com/LogRocket.min.js"></script>
    <script src="@AppSettings.Value.UrlRubricaeSignComponent/config/config.js"></script>
    <script type='module' src="@AppSettings.Value.UrlRubricaeSignComponent/latest/rotpsecure.esm.js"></script>
    <script nomodule src="@AppSettings.Value.UrlRubricaeSignComponent/latest/rotpsecure.js"></script>

    <script type='module' src="@urlBase@AppSettings.Value.CdnBestinverWebComponents/bestinver-web-components.esm.js"></script>
    <script nomodule src="@urlBase@AppSettings.Value.CdnBestinverWebComponents/bestinver-web-components.js"></script>

    <!-- Google Tag Manager -->
    <script>
        window.DigitalData = window.DigitalData || [];
        window.DigitalDataPersisted = [];
    </script>
    <!-- End Google Tag Manager -->

    @{
        if (AppSettings.Value.ChatenEnabled)
        {
            <!-- Chat -->
            <script id="Microsoft_Omnichannel_LCWidget"
                    src="@AppSettings.Value.ChatSrc"
                    data-app-id="@AppSettings.Value.ChatAppId"
                    data-lcw-version="@AppSettings.Value.ChatEnvironment"
                    data-org-id="@AppSettings.Value.ChatOrgId"
                    data-org-url="@AppSettings.Value.ChatOrgUrl"
                    data-color-override="#B59971"
                    data-hide-chat-button="true">
            </script>
            <!-- Chat -->
        }
        if (AppSettings.Value.EyeAble?.Enabled == true)
        {
            <!-- EyeAble -->
            <script async id="EyeAbleConfig"
                    src="@AppSettings.Value.EyeAble.ConfigUrl" >            
            </script>
            <script async id="EyeAbleComponent"
                    src="@AppSettings.Value.EyeAble.ScriptUrl" >                       
            </script>
            <!-- EyeAble -->
        }
    }

    <script src="//assets.adobedtm.com/launch-EN2267055cc3114071b44e48093e6f41e3.min.js" async></script>
    @Html.Raw(JavaScriptSnippet.FullScript)

    <!-- appInsights -->
    <script type='text/javascript'>
        window.appInsights.queue.push(function () {
            window.appInsights.context.addTelemetryInitializer(function (envelope) {
                try {
                    var telemetryItem = envelope.data.baseData;
                    // To set custom properties:
                    telemetryItem.properties = telemetryItem.properties || {};
                    telemetryItem.properties["RequestID"] = Utils.GetRequestId();
                } catch (e) { };
            });
        });
        appInsights.trackPageView();
    </script>
    <!-- appInsights -->
</head>

<body>
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_HeaderLogin" />
    }
    else
    {
        <partial name="_Header" />
    }

    <div id="general">
        <partial name="_MainButtons" />
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <partial name="_Footer" />

    <div class="hide">

        <script>
            var currentLocation = window.location.pathname;
            if (currentLocation != null && currentLocation.includes("landing")) {
                $('#contact_buttons').hide();
            } else {
                $('#contact_buttons').show();
            }
        </script>

        @{
            if (AppSettings.Value.LogRocketEnabled)
            {
                <!-- LogRocket -->
                <script type="text/javascript">
                    const obfuscationValue = "*Obfuscated Value*"
                    LogRocket.init('@AppSettings.Value.LogRocketAccount', {
                        dom: {
                        inputSanitizer: true,
                    },
                    network: {

                        responseSanitizer: function (response) {
                            LogRocketHelper.responseSanitizer(response, sitePreffix, obfuscationValue);
                        },

                        requestSanitizer: function (request) {
                            LogRocketHelper.responseSanitizer(request, sitePreffix, obfuscationValue);
                        }
                        },
                    })
                </script>
                <!-- LogRocket -->
            }
        }

        <!-- Chat -->
        @if (AppSettings.Value.ChatenEnabled && !AppSettings.Value.EnableJsDebug)
        {
            <script type="text/javascript">
                document.getElementsByClassName("chat_button")[0].addEventListener("click", function () {
                    Microsoft.Omnichannel.LiveChatWidget.SDK.startChat();
                });
            </script>
        }
        @if (AppSettings.Value.EnableJsDebug)
        {
            <script src="~/js/Debugger.js" type="text/javascript" crossorigin="anonymous"></script>
            <script type="text/javascript">                
                window.onkeyup = function (e) {
                    if (e.keyCode) {
                        if (e.keyCode == 113 && !e.shiftKey) {
                            LoadDataMock();
                        }
                        if (e.keyCode == 113 && e.shiftKey) {
                            LoadDataMock(true);
                        }
                    }
                }
                document.getElementsByClassName("chat_button")[0].addEventListener("click", function () {
                    LoadDataMock();
                });
            </script>
        }
        <!-- Chat -->

        @RenderSection("scripts", required: false)
    </div>
</body>
</html>