@using Newtonsoft.Json;
@Html.AntiForgeryToken()

@model BESTINVER.GestorAltas.Web.Public.Models.Register.PersonalDataViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.AntiForgeryToken()

@section scripts{

    <script language="javascript" type="text/javascript">

        $.blockUI.defaults.css.cursor = "dafault";
        $.blockUI.defaults.css.backgroundColor = "#fff";
        $.blockUI.defaults.overlayCSS.cursor = "default";
        $.blockUI.defaults.overlayCSS.backgroundColor = "#fff";

        var vm = null;
        var localStorageEnabled = true;
        try {
            // Test webstorage existence.
            if (!window.localStorage || !window.sessionStorage) throw "exception";
            // Test webstorage accessibility - Needed for Safari private browsing.
            localStorage.setItem('storage_test', 1);
            localStorage.removeItem('storage_test');
        } catch (e) {
            localStorageEnabled = false;
        }

        if (localStorageEnabled) {
            var ismobile = '@Html.Raw(Model.IsMobile).ToString().ToLower()';
            sessionStorage.setItem("device", ismobile == 'true' ? 'mobile' : 'desktop');

            sessionStorage.setItem("utm_medium", '@Model.utm_medium');
            sessionStorage.setItem("utm_source", '@Model.utm_source');
            sessionStorage.setItem("utm_campaign", '@Model.utm_campaign');
            sessionStorage.setItem("utm_content", '@Model.utm_content');
            sessionStorage.setItem("utm_term", '@Model.utm_term');

            var modal = '@Model.Modal';
            var types = @Html.Raw(JsonConvert.SerializeObject(Model.ProductTypes));
            var products = @Html.Raw(JsonConvert.SerializeObject(Model.Products));
            var ProductTypePredef = '@Model.ProductTypePredef';
            var IsAuthenticated = '@User.Identity.IsAuthenticated.ToString().ToLower()' == 'true';
            var ProfitabilityDisclaimer = @Html.Raw(JsonConvert.SerializeObject(Model.ProfitabilityDisclaimer));
            var ProfitabilityDate = @Html.Raw(JsonConvert.SerializeObject(Model.ProfitabilityDate));
            var ProfitabilityDateFIL = @Html.Raw(JsonConvert.SerializeObject(Model.ProfitabilityDateFIL));
            sessionStorage.setItem("ProfitabilityDisclaimer", ProfitabilityDisclaimer);
            sessionStorage.setItem("ProfitabilityDate", ProfitabilityDate);
            sessionStorage.setItem("ProfitabilityDateFIL", ProfitabilityDateFIL);
            window.DigitalData = [];
            sessionStorage.removeItem('gmtDigitalDataPersisted');
            var GMT = new GoogleTagManager();
            sessionStorage.setItem("PageEnum", PageEnum.EMPIEZA_A_INVERTIR_SELECCION);
            try {
                var pagename = PageEnum.EMPIEZA_A_INVERTIR_SELECCION;
                var MobileData = Utils.GetMobileAppData();
                var dData = {
                    event: "pageview",
                    tipoProducto: "",
                    producto: "",
                    tipoOperacion: "",
                    importeOperacion: "",
                    datosTraspaso: "",
                    tipoUsuario: "",
                    nacionalidadPais: "",
                    paisNacimiento: "",
                    nacionalidad: "",
                    residente: "",
                    nacimiento: "",
                    codigoPostal: "",
                    sexo: "",
                    direccion: "",
                    tipoDireccion: "",
                    pais: "",
                    provincia: "",
                    ciudad: "",
                    perfiles: "",
                    tipoFirma: "",
                    enviarFirmaManual: "",
                    opcionesEnvio: "",
                    idLeadCorto: "",
                    pagename: "formulario alta/seleccion/" + pagename,
                    modoWeb: sessionStorage.getItem('device'),
                    idioma: "es",
                    hora: moment().format('HH:mm:ss'),
                    dia: daysOfWeek[moment().day() - 1],
                    tipoDiaSemana: moment().day() < 6 ? "week" : "weekend",
                    fechaPublicacion: "",
                    paginaNoEncontrada: "",
                    tipoPagina: "contratacion",
                    contenido1: "area publica",
                    contenido2: "contratacion",
                    contenido3: pagename.split("/")[0],
                    contenido4: pagename.split("/").length > 1 ? pagename.split("/")[1] : "",
                    contenido5: "",
                    contenido6: "",
                    articuloTags: "",
                    situacionLaboral: "",
                    terminoBusqueda: "",
                    eventCategory: "",
                    eventAction: "",
                    eventLabel: "",
                    canal: GMT.getDeviceChannel(MobileData),
                    appInfo: GMT.getAppInfoData(MobileData),
                };

                window.DigitalData.push(dData);
                window.DigitalDataPersisted.push(dData);
            } catch (e) {
                console.log(e);
            }

            var md = new MasterDataModel(1);
            md.setProductList(products)
                .then(function () { return md.setProductTypeList(types, !IsAuthenticated) })
                .then(function () {
                    $(document).ready(function () {
                        vm = new SelectProductViewModel(md.ProductTypeList());
                        ko.applyBindings(vm);
                        vm.Init(ProductTypePredef);

                        if (modal == 'S') {
                            setTimeout(function () {
                                window.launchAjax(routeConfig.GA_Register_PopPup_popup_cta_access);
                            }, 1000);
                        }
                    });
                })
        } else {
            $('#errorStorage .error_message').text('Tu navegador no es compatible en modo privado con el proceso de alta. Por favor, inicia el navegador en modo normal.');
            $('.registration_inner').addClass('hidden');
            $('#errorStorage').removeClass('hidden');
        }
    </script>
}

<div data-bind="with: ProductModel">
    <div id="select-product-content" class="registration_form">
        <div class="registration_inner">
            <partial name="Product/_ProductSelectView" />
            <div class="form_block-content general_error" data-bind="validationElement: $root.ErrorMessage">
                <span class="error_message" data-bind="text: $root.ErrorMessage"></span>
            </div>
            <div class="form_block buttons product_buttons">
                <div class="form_block-content buttons big">
                    <div class="button_next">
                        <a id="btn-select-product" href="" title="Continuar" class="button brown toWhite" data-bind="click: $root.GoToPersonalDataView, css:{disabled: !vm.ProductModel().Product()}"><span>Continuar</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="registration_inner hidden" id="errorStorage">
            <div class="form_block-content general_error error">
                <span class="error_message"></span>
            </div>
        </div>
    </div>
</div>

@section HMetaTags {
    <meta property=og:locale content=es_ES />
    <meta property=og:locale:alternate content=en_US />
    <meta property=og:type content=article />
    <meta property="og:title" content="Hazte Inversor | Bestinver">
    <meta property="og:description" content="Comienza a invertir seleccionando el producto de Bestinver que más se adapte a tu situación y objetivos de inversión.">
    <meta property="og:url" content="https://www.bestinver.es/hazte-inversor/fisica/">
    <meta property="og:site_name" content="Bestinver">
    <meta property="og:image" content="https://www.bestinver.es/wp-content/uploads/2017/05/cabecera_quienes_somos.jpg">
    <meta property=og:image:width content=1200 />
    <meta property=og:image:height content=630 />
    <meta name=twitter:card content=summary_large_image />
    <meta name=twitter:site content="@@bestinver" />
}